* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.headerContainer {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px 20px;
  background-color: aliceblue;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .headerList {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

    a {
      color: rgba(0, 0, 0, 0.4);
      text-decoration: none;
    }

    .navActive {
      color: #000;
      text-decoration: none;
    }

    a:hover {
      color: black;
      text-decoration: none;
    }
  }
}

.container {
  margin: 120px auto 30px auto;
  max-width: 1200px;
  width: 90%;


  h1 {
    margin: 20px 0px;
  }
}

.tasksTable {
  background-color: aliceblue;
  margin-bottom: 20px;

  .tableHeader {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: black;

    .tableHeaderCell {
      padding: 20px 20px;
      font-size: 18px;
      background-color: aliceblue;
    }
  }

  .tableRow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: black;

    .tableRowCell {
      padding: 20px 20px;
      font-size: 18px;
      background-color: aliceblue;
    }
  }
}

form {

  input,
  select,
  textarea {
    display: block;
    width: 300px;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 18px;
  }

  .inputError {
    outline: 1px solid red;
  }

  .formButton {
    background-color: #000;
    color: #fff;
    border: none;
  }

  .formButton:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
  }
}

.errorMessage {
  width: 300px;
  color: red;
  margin-bottom: 20px;
}

button {
  display: block;
  width: 300px;
  margin-bottom: 15px;
  padding: 15px;
  font-size: 18px;
  background-color: #000;
  color: #fff;
  border: none;
}

button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}