* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.headerContainer {
  padding: 30px 20px;
  background-color: aliceblue;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .headerList {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

    a {
      color: rgba(0, 0, 0, 0.5);
      text-decoration: none;
    }

    a:hover {
      color: black;
      text-decoration: none;
    }
  }
}