* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.headerContainer {
  padding: 30px 20px;
  background-color: aliceblue;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  .headerList {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

    a {
      color: rgba(0, 0, 0, 0.5);
      text-decoration: none;
    }

    a:hover {
      color: black;
      text-decoration: none;
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}

.tasksTable {
  background-color: aliceblue;

  .tableHeader {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: black;

    .tableHeaderCell {
      padding: 20px 20px;
      font-size: 18px;
      background-color: aliceblue;
    }
  }

  .tableRow {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: black;

    .tableRowCell {
      padding: 20px 20px;
      font-size: 18px;
      background-color: aliceblue;
    }
  }
}